#title {
    text-align: center;
    font-family: batman;
    font-weight: bolder;
  }
  
  #list {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }
  
  #list td, #list th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #list tr:nth-child(even){background-color: #b4b4b4;}
  #list tr:nth-child(odd){background-color: #d8d8d8;}
  
  #list tr:hover {background-color: rgba(255, 255, 255, 0.555);}
  
  #list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
  }

@font-face {
  font-family: "Batman";
  src: local("Batman"),
    url(./fonts/batmfa__.ttf) format("truetype");
  font-weight: normal;
}

h1{
  text-align: center;
  font-family: Batman;
}

.margin{
  margin-top: 2em;
}

.margin button{
  margin-top: 1em;
  margin-bottom: 2em;
}

.batman{
  text-align: center;
  font-family: Batman;
  font-weight: bolder;
  color: black;
}

